<div class="uk-cover-container">
  {% if image_url %}
    <img src="{{ image_url }}" uk-cover>
  {% endif %}

  {% if body %}
    <div class="uk-container uk-position-relative uk-section uk-light">
      {{ body }}
    </div>
    {% endif %}

  {% if circle %}
    <div class="uk-overlay uk-overlay-primary uk-padding-small uk-position-center uk-border-circle">
      {{ circle }}
    </div>
  {% endif %}
</div>
