{# <div class="uk-background-cover uk-light background-opacity-light uk-position-relative" data-src="{{ image_url }}" uk-img>
  <div class="uk-flex uk-flex-center uk-flex-{{ variant }}">
    <div class="uk-card uk-card-body">
    </div>
  </div>
</div> #}

{% set my_attribute = create_attribute() %}

{%
  set my_classes = [
    'uk-background-' ~ variant,
    (variant in ['primary', 'secondary']) ? 'uk-light' : '',
    'uk-section',
  ]
%}
<div {{ my_attribute.addClass(my_classes) }}>
  <div class='uk-container'>
    {{ body }}
  </div>
</div>
