<div class="uk-flex-middle" uk-grid>
    <div class="uk-width-1-3@m">
      {{ image }}
    </div>
    <div class="uk-width-2-3@m uk-flex-first@m">
        {{ title }}
        <p class="uk-article-meta">{{ submitted}}</p>
        {{ body }}
    </div>
</div>
<hr />
