<div class="uk-background-cover uk-light background-opacity-light uk-position-relative" data-src="{{ image_url }}" uk-img>
  <div class="uk-flex uk-flex-center">
    <div class="uk-card uk-card-body">
      {{ heading }}
    </div>
  </div>
</div>

{{ body }}
