<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-card-hover uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container uk-width-1-3@m">
      {% if image_url %}
        <img src="{{ image_url }}" uk-cover>
        <canvas width="600" height="400"></canvas>
      {% endif %}

      {% if circle %}
        <div class="uk-overlay uk-padding-small uk-position-center uk-light">
          {{ circle }}
        </div>
      {% endif %}
    </div>
    <div class="uk-width-expand@m">
      {% if body %}
        <div class="uk-card-body">{{ body }}</div>
      {% endif %}
    </div>
</div>
