<div class="uk-card uk-card-default uk-card-hover uk-margin">
  {% if header %}
    <div class="uk-card-header">{{ header }}</div>
  {% endif %}

  {% if image_url %}
    <div class="uk-card-media-top uk-cover-container">
      <img src="{{ image_url }}" uk-cover>
      <canvas width="600" height="400"></canvas>   
    </div>
  {% endif %}

  {% if body %}
    <div class="uk-card-body">{{ body }}</div>
  {% endif %}

  {% if footer %}
    <div class="uk-card-footer">{{ footer }}</div>
  {% endif %}
</div>
