{% if image is not empty %}
  <div class="uk-inline">
    {{ image }}
    <div class="uk-overlay uk-light uk-position-bottom uk-padding-small">
      <p>{{ title }}</p>
      {% if body is not empty %}
        {{ body }}
      {% endif %}
    </div>
  </div>
{% endif %}
