<div class="uk-grid-small uk-flex-middle" uk-grid>
    <div class="uk-width-auto">
        {{ image }}
    </div>
    <div class="uk-width-expand">
        {{ title }}
        <p class="uk-text-meta uk-margin-remove-top">{{ body|render|striptags }}</p>
    </div>
</div>
